@keyframes t_2_bm {
    to {
        transform: translateY(0) scale3d(1, 1, 1);
        opacity: 1;
    }
    from {
        transform: translateY(10px) scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}

@keyframes move_lf_2_rg {
    0% {
        transform: translateX(-300%);
        opacity: 0;
        display: none;
    }
    50% {
        transform: scaleX(1.2);
    }
    100% {
        transform: translateX(0) translateZ(1);
        opacity: 1;
        display: block;
    }
}

@keyframes fade_top {
    from{
        opacity: 0;
        transform: translateY(20%);
        transform-origin: center bottom;
    }
    to{
        opacity: 1;
        transform: translateY(0);
        transform-origin: center bottom;
    }
}

@keyframes slide_rg {
    from {
        opacity: 0;
        transform: translateX(100%);
        transform-origin: top right;
    }
    to{
        opacity: 1;
        transform: translateX(0);
        transform-origin: top right;
    }
}
@keyframes slide_lf {
    from {
        opacity: 0;
        transform: translateX(-100%);
        transform-origin: top left;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        transform-origin: top left;
    }
}

/**渐变类**/
.fade-top {
    animation: fade_top .5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.slide-right {
    animation: slide_rg .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.slide-lf {
    animation: slide_lf .5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

/**文字类的动画 向右平移**/
.text-move-right {
    animation: 2s move_lf_2_rg cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.text-move-left {
    animation: move_lf_2_rg 1s cubic-bezier(0.165, 0.84, 0.44, 1) both reverse;
}



/** 从上往下的平移***/
@mixin el-move-bm($duration: 1s, $delay: .5s) {
    animation: t_2_bm $delay $duration linear infinite ;
}

.js-animate-mark {
    .js-trans_lf {
        @extend .text-move-right;
        opacity: 1;
    }
    .js-trans_rg {
        @extend .slide-right;
        opacity: 1;
    }
    .js-fade_top {
        @extend .fade-top;
        animation-delay: .3s;
    }
}

.js-animate-out {
    .js-trans_lf {
        @extend .text-move-right;
        animation-direction: reverse;
    }
    .js-trans_rg {
        @extend .slide-right;
        animation-direction: reverse;
        animation-delay: 1s;
    }
}