$base: #1fa2ff;
$base-sub: #5194e2;

$danger: #ff3300;
$warning: #ff9900;
$success: #339900;

$t-base: #333;
$t-999: #999;
$t-666: #666;
$t-000: #000;
$t-ccc: #ccc;
$t-ffd: #FFDA1F;
$t-white: #fff;
$t-2d: #2d2d2d;

$b-base: #f2f2f2;
$b-sub: #f4f4f4;
$b-wihte: #fff;
$b-deep: #d4d4d4;

$border-base: #eee;